@model IEnumerable<TrowWebScraper.Models.NowPlayingMovies>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <h1>NOW PLAYING</h1>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th><hr /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                <h2>@item.title</h2>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="@item.image" /></td>
                        </tr>
                        <tr>
                            <td><hr /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
