@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Web Scraping Project</h1>
    <hr />
    <p><a class="button-primary" asp-area="" asp-controller="WebScrape" asp-action="Index">Show Scraped Data</a></p>
</div>
