@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Web Scraping Project</h1>
    <hr />
    <p>This project scrapes data from this website URL: <a>https://www.landmarkcinemas.com/now-playing/new-westminster#</a> </p>
    <p><a class="button-primary" asp-area="" asp-controller="WebScrape" asp-action="Index">Show Scraped Data</a></p>
</div>
